* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.carousel-cell1 {
  width: 95%;
  height: 500px;
  margin-right: 10px;

  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* extra */

* {
  margin: 0;
}

#navbar {
  width: 100%;
  height: 55px;
  background-color: black;
}

#navbar-container {
  display: flex;
  align-items: center;

  padding: 0 50px;
  height: 100%;
  margin-bottom: 10px;
  color: white;
}

#logo-box {
  font-family: "Mouse Memoirs", sans-serif;
  flex: 1;

  font-size: 20px;
}

#logo-box a {
  text-decoration: none;
  color: rgb(56, 213, 56);
}
#menu-box {
  flex: 6;
  font-family: "Ubuntu", sans-serif;
}
#menu-box ul {
  display: flex;
}
#menu-box ul li {
  list-style: none;
  margin-right: 30px;
}
#menu-box ul li a {
  text-decoration: none;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  margin: 20px 15px;
}
#menu-box ul li a:hover {
  background-color: whitesmoke;
  padding: 20px 15px;
  color: black;
  border-radius: 10px;
}
#profile-box {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}


#profile-text {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  margin-left: 15px;
}

#profile-box img {
  height: 38px;
}

#toggle {
  height: 25px;
  width: 50px;
  margin-left: 10px;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

#toggle i {
  color: gold;
}

#toggle-bt {
  background-color: black;
  border-radius: 40px;
  cursor: pointer;
  height: 24px;
  width: 24px;
  right: 1px;
  position: absolute;
}

.container {
  min-height: calc(100vh - 50px);
  background-color: #151515;
}

.featured-content {
  height: 70vh;
  /* background-color: tomato; */
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515),
    url("img/jwm12.jpg") no-repeat ;
  background-size: 100% 100%; */

  /* background-size: 92rem; */
  /* opacity: 0.4; */
}

.featured-content h1 {
  color: white;
  position: relative;
  top: 16rem;
  margin-left: 3rem;
  font-size: 3rem;
  font-family: "Ubuntu", sans-serif;
}

.featured-content p {
  color: white;
  position: relative;
  top: 16rem;
  margin: 0px 0px 0px 10px;
  padding: 10px 576px 11px 40px;
  font-size: 1.22em;
  font-family: "Ubuntu", sans-serif;
}

.featured-content .watch-btn {
  position: relative;
  top: 17rem;
  left: 2px;
  margin: 0px 0px 0px 48px;
  margin-top: 0px;
}


.watch-btn {
  border: none;
  outline: none;
  padding: 15px 20px;
  background-color: rgb(56, 213, 56);
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  color: white;

  font-weight: bold;
}

.watch-btn:hover {
  padding: 18px 22px;
}

.movie-list-box {
  /* margin-left: 60px; */
  padding: 15px;
}

.movie-list-box h1 {
  font-family: "Ubuntu", sans-serif;
  color: white;
  margin-bottom: 18px;
}

.movie-list-item img {
  height: 250px;
  width: 180px;
  object-fit: cover;
}

.movie-list-item {
  margin-right: 25px;
  position: relative;
}

.li-watch-btn {
  border: none;
  outline: none;
  padding: 9px 9px;
  background-color: rgb(56, 213, 56);
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  top: 190px;
  left: 15px;
  text-decoration: none;
  color: whitesmoke;
  opacity: 0;
}

.movie-list {
  display: flex;
}

.movie-list-item:hover {
  transform: scale(1.07);
}

.movie-li-title {
  color: black;
  font-family: "Ubuntu", sans-serif;
  padding: 10px 10px;
  margin: 10px 10px;
  font-weight: bold;
  font-size: 30px;
  position: absolute;
  top: 0px;
  left: 0px;

  opacity: 0;
}

.movie-li-para {
  font-family: "Source Sans Pro", sans-serif;

  padding: 10px 10px;
  margin: 10px 10px;
  margin-top: 25px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 11px;
  position: absolute;
  top: 28px;
  text-align: left;
  left: 0px;
  opacity: 0;
}

.movie-list-item:hover .li-watch-btn,
.movie-list-item:hover .movie-li-para,
.movie-list-item:hover .movie-li-title {
  opacity: 1;
  transform: scale(1.07);
  color: whitesmoke;
}

.movie-list-item:hover .li-watch-btn:hover {
  transform: scale(1.2);
}

.movie-list-item:hover img {
  opacity: 0.2;
  transform: scale(1.07);
  transition: 0.35s all ease-in-out;
}

.movie-list-wrap {
  position: relative;
}

.arrow {
  font-size: 150px;
  color: rgb(169, 169, 169);
  position: absolute;
  top: 55px;
  right: 0px;
  cursor: pointer;
}

/* flicke */

/* external css: flickity.css */

/* * { box-sizing: border-box; } */

body {
  height: 100vh;
  font-family: sans-serif;
  background-color: #151515;
}

.carousel {
  margin-left: 0px;
}

.carousel-cell {
  height: 250px;
  width: 180px;
  object-fit: cover;
  margin-left: 0px;
  margin-right: 15px;
  /* background: #8C8; */
  border-radius: 5px;
  border: 5px solid white;
  overflow: hidden;
}

.carousel-cell img {
  height: 250px;
  width: 180px;
  object-fit: cover;
}

.carousel-cell:hover {
  transform: scale(1.09);
}
/* .carousel-cell
  
    opacity: 0.2;
    transform: scale(1.07);
    transition: 0.35s all ease-in-out; */
.flickity-viewport {
  margin-left: 0px;
  overflow: hidden;
}

.flickity-page-dots {
   display: none;
}

.flickity-prev-next-button.next {
  right: 10px;
  opacity: 0.2;
}

.flickity-prev-next-button.next:hover {
  right: 10px;

  background-color: rgb(0, 0, 0);
  opacity: 1;
}

.flickity-prev-next-button.previous {
  left: 10px;
  opacity: 0.2;
}

.flickity-prev-next-button.previous:hover {
  background-color: rgb(0, 0, 0);
  opacity: 1;
}

@media (min-width:1000px) and (max-width:1200px){

  .featured-content h1 {
    position: relative;
    top: 14rem;
    margin-left: 3rem;
    font-size: 2.5rem;
  
  }
  
  .featured-content p {
    color: white;
    position: relative;
    top: 14rem;
    margin: 0px 0px 0px 10px;
    padding: 10px 450px 11px 40px;
    font-size: 1.2em;
    font-family: "Ubuntu", sans-serif;
  }
  
  .featured-content a {
    position: relative;
    top: 13rem;
    left: 2px;
    margin: 0px 0px 0px 48px;
    margin-top: 10px;
  }


}



@media (min-width:800px) and (max-width:1000px){
  .featured-content h1 {
    position: relative;
    top: 13rem;
    margin-left: 3rem;
    font-size: 2.7rem;
  
  }
  
  .featured-content p {
    color: white;
    position: relative;
    top: 13rem;
    margin: 0px 0px 0px 10px;
    padding: 10px 0px 11px 40px;
    font-size: 1.22em;
    font-family: "Ubuntu", sans-serif;
  }
  
  .featured-content a {
    position: relative;
    top: 13rem;
    left: 2px;
    margin: 0px 0px 0px 48px;
    margin-top: 10px;
  }



  #navbar {
    width: 100%;
    height: 115px;
    background-color: black;
    
  }
  
  #navbar-container {
    display: flex;
    align-items: center;
     flex-direction: column;
    padding: 0 50px;
    height: 100%;
    margin-bottom: 10px;
    color: white;
  }



  .flickity-slider {
    margin-top: 3px;
}
  
#menu-box ul li {
   margin-left: 30px;

}



}



@media (min-width:500px) and (max-width:800px){
  .featured-content h1 {
    position: relative;
    top: 13rem;
    margin-left: 2.5rem;
    font-size: 2rem;
  
  }
  
  .featured-content p {
    color: white;
    position: relative;
    top: 13rem;
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 11px 40px;
    font-size: 1rem;

  }
  
  .featured-content a {
    position: relative;
    top: 13rem;
    left: 2px;
    margin-left: 2.3rem;
    margin-top: 10px;
  }


  
  #navbar {
    width: 100%;
    height: 115px;
    background-color: black;
    
  }
  
  #navbar-container {
    display: flex;
    align-items: center;
     flex-direction: column;
    padding: 0 50px;
    height: 100%;
    margin-bottom: 10px;
    color: white;
  }



  .flickity-slider {
    margin-top: 3px;
}
  
#menu-box ul li {
   margin-left: 10px;
   margin-right: 10px;




  }


  #menu-box ul li a {
    text-decoration: none;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin: 5px 5px;
  }
  #menu-box ul li a:hover {
    background-color: whitesmoke;
    padding: 20px 15px;
    color: black;
    border-radius: 10px;
  }
  #profile-box {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  
  #profile-text {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin-left: 15px;
  }
  
  #profile-box img {
    height: 38px;
  }
  .featured-content a{
    
   padding: 10px 10px;
}

.featured-content .watch-btn {
    top:14rem;
  margin: 0px 0px 0px 35px;
  margin-top: 0px;
}



}



@media (min-width:310px) and (max-width:500px){
  .featured-content h1 {
    position: relative;
    top: 15rem;
    margin-left: 1.5rem;
    font-size: 1.5rem;
  
  }
  
  .featured-content p {
    color: white;
    position: relative;
    top: 15rem;
 
    padding: 10px 0px 11px 10px;
    font-size: 0.8rem;

  }
  
  .featured-content a {
    position: relative;
    top: 15rem;
    left: 2px;
    margin-left: 1.2rem;
    padding :10px 10px;
    margin-top: 10px;
  }

  #navbar {
    width: 100%;
    height: 80px;
    background-color: black;
    
  }

  #logo-box{
    font-size: 20px;
  }
  
  #navbar-container {
    display: flex;
    align-items: center;
     flex-direction: column;
    padding: 0 50px;
    height: 100%;
    margin-bottom: 10px;
    color: white;
  }



  .flickity-slider {
    margin-top: 3px;
}
  

#menu-box ul {
   padding: 0px 0px;
}
#menu-box ul li {
   margin-left: 10px;
   margin-right: 10px;




  }


  #menu-box ul li a {
    text-decoration: none;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 11px;
  }

  #menu-box ul li a:hover {
    background-color: whitesmoke;
    padding: 20px 15px;
    color: black;
    border-radius: 10px;
  }
  
  #profile-box {
    display: none;
  }
  
  .featured-content .watch-btn {
    
    margin: 0px 0px 0px 15px;
    margin-top: 0px;
}






}






@media (min-width:250px) and (max-width:310px){
  .featured-content h1 {
    position: relative;
    top: 15rem;
    margin-left: 1.5rem;
    font-size: 1.5rem;
  
  }
  
  .featured-content p {
    color: white;
    position: relative;
    top: 15rem;
 
    padding: 10px 0px 11px 10px;
    font-size: 0.8rem;

  }
  
  .featured-content a {
    position: relative;
    top: 15rem;
    left: 2px;
    margin-left: 1.2rem;
    padding :10px 10px;
    margin-top: 10px;
  }

  #navbar {
    width: 100%;
    height: 80px;
    background-color: black;
    
  }

  #logo-box{
    font-size: 20px;
  }
  
  #navbar-container {
    display: flex;
    align-items: center;
     flex-direction: column;
    padding: 0 50px;
    height: 100%;
    margin-bottom: 10px;
    color: white;
  }



  .flickity-slider {
    margin-top: 3px;
}
  

#menu-box ul {
   padding: 0px 0px;
    margin: 0px 0px;
  }
#menu-box ul li {
  margin: 4px 4px;


  }


  #menu-box ul li a {
    text-decoration: none;
    color: white;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    margin: 0px 0px;
    padding: 0px 0px;
    font-size: 9px;
  }

  #menu-box ul li a:hover {
    background-color: whitesmoke;
    padding: 20px 15px;
    color: black;
    border-radius: 10px;
  }
  
  #profile-box {
    display: none;
  }
  .featured-content .watch-btn {
    
    margin: 0px 0px 0px 15px;
    margin-top: 0px;
}

}

